<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Minetweaker Editor"
            extensions="zs"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="minetweaker_ide.editors.MinetweakerEditor"
            id="minetweaker_ide.editors.MinetweakerEditor">
      </editor>
   </extension>

</plugin>
